# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
**/build/
*.iml

# IDE
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Firebase
.firebase/

# Environment
.env
.env.local
.env*.local

# Misc
*.pem
*.log
node_modules
